* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}
body {
	border-top: 10px solid #1098ad;
	color: #444;
	font-family: sans-serif;
	position: relative;
}
/* .main-body{
  
  margin: 0 auto;
  
} */
.container {
	width: 1200px;
	margin: 0 auto;
}
.main-header {
	background-color: #f7f7f7;
	font-size: 18px;
	padding: 10px 40px;
	margin-bottom: 60px;
}

nav a {
	margin-right: 30px;
	display: inline-block;
}
nav a:last-child {
	margin-right: 0;
}

h1,
h2,
h3 {
	color: #1098ad;
}
h1 {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 10px;
}
h1::first-letter {
	font-style: normal;
	margin-right: 5px;
}

h2 {
	font-size: 40px;
	margin-bottom: 30px;
	position: relative;
}
h2::after {
	content: "TOP";
	color: #444;
	background-color: #ffe70e;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	top: -10px;
	right: -25px;
	padding: 5px 10px;
}

h3 {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}
h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

.auther {
	font-style: italic;
	font-size: 18px;
	/* margin-bottom:5px; */
}
/* .auther-img{
  float:left;
} */

.post-image {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

p {
	line-height: 1.5;
	font-size: 22px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
li {
	font-size: 20px;
	margin-left: 50px;
	padding-bottom: 10px;
}
li:first-child {
	font-weight: bold;
}
li:last-child {
	font-style: italic;
}
a:any-link {
	color: #1098ad;
	text-decoration: none;
}
a:hover {
	color: orangered;
	text-decoration: underline;
	font-weight: bold;
}
a:active {
	background-color: #000;
	font-style: italic;
}
aside {
	/* width: 500px; */
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	background-color: #f7f7f7;
	padding-bottom: 55px;
	padding-top: 50px;
	margin-top: 50px;
}
.good-bye {
	margin-top: 10px;
}
.related-auther {
	font-size: 18px;
	font-weight: bold;
	padding: 0;
}
.related {
	list-style: none;
}
button {
	font-size: 22px;
	padding: 20px;
	cursor: pointer;
	position: absolute;
	bottom: 60px;
	right: 50px;
}

footer p {
	font-size: 16px;
}

.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.auther {
	padding: 0;
	/* margin-left: 15px; */
}
.auther-information {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
}
.related-post{
  display:flex;
  gap:20px;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 0;
  padding-bottom: 0;
}

.related-auther{
  margin-bottom: 0;
  font-size:14px;
  font-weight: normal;
  font-style: italic;
}
.last-related{
  margin-bottom: 0;
}
.related-link{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

/* h4{
  margin-bottom: 30px;
} */
aside{
  width: 300px;
  margin: 0;
  padding-right:30px;
  padding-left:30px;
  box-sizing: border-box;
  /*
   DEFAULTS

  flex-grow: 0;
  flex-shrink:1;
  flex-basis:auto;
  flex: 0 1 auto;
  */

  /*
  HERE
  flex: 0 0 300px; 
   */
}
.main-body{
  display: flex;
  gap: 75px;
  align-items: flex-start;
}
h4{
  margin-bottom: 30px;
}
article{
  width: 825px;
}